.bg-primary {
  color: red;
}
.bg-button {
  background-color: yellow;
}
.btnWrapper{
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #333;
  justify-content: center,
}
.counter{
  font-weight: 400;
}